/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
}
.main{
    border:5px solid red;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.login{
    display: flex;
    flex-direction: column;
    border:2px solid green;
    margin:1em;
    text-align: center;
}
.main h1{
    border:2px solid blue;
    margin: 0px;
    text-align: center;
    background-color: #666;
    color:white;
    font-size: 3em;
    border-radius: 0.3cm;
}
.main h2{
    border:2px solid blue;
    width:100%;
    font-size: 2em;
    background: #7eff05;
    border-radius: 0.3cm;
}
form{
    display:flex;
    flex-direction: column;
    border:2px solid blue;
}

 */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
}


 body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(204, 255, 229);
    text-decoration: none;
    /* background: #222222; */
    

}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    background-color: #747474;
    color: white;
    opacity: 0.96;
    margin:100px;
    border-radius: 0.5cm;
    background-color: rgb(20, 20, 20);
    box-shadow: 8px 8px 8px 8px #000000;
    /* border:5px solid blue; */
}

.head{
    /* border:2px solid blue; */
    text-align: center;
    border-radius:0.5cm;
    color:black;
    font-size:1.5em;
    padding: 0.5em;
    background-color: #8cb665;
}

.login-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

.content {
    margin: 1em;
    text-align: center;
    padding: 1em;
    /* color: white; */
}

input[type='text']::placeholder {
    text-align: center;
    font-size: 1.2em;
}

input[type='email']::placeholder {
    text-align: center;
    font-size: 1.2em;
}
input[type=text]:focus
{
    border: 4px solid rgb(42, 240, 213);
}
input[type=email]:focus
{
    border: 4px solid rgb(42, 240, 213);
}

.content input{
    /*border:1px solid blue;*/
    justify-content: center;
    border-radius: 2cm;
    padding: 0.5em;
    outline:none;
    /* outline-color: rgb(8, 238, 8); */
    width:50%;
}

.content input[type='submit']{
    width:20%;
    text-align: center;
    color: white;
    font-size:1.3em ;
    outline: none;
    padding: 0.3em;
    border-radius: 0.2cm;
    background-color: rgb(218, 36, 36);
    box-shadow: 3px 3px 3px 3px #000000;
}

input[type='submit']:hover {
    box-shadow: 3px 3px 3px 3px #000000;
    outline: none;
    cursor: pointer;
    font-size:1.3em;
    border-radius: 0.2cm;
    color: white;
    background-color: rgb(4, 138, 4);
}
@media (max-width: 768px) {
body {
flex-direction: column;
}
.login {
flex-direction: column;
}
input[type='submit'] {
flex-direction: column;
}
.content {
flex-direction: column;
}
}
.login h1 {
flex-direction: column;
}
