<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='info.css')}}">
    <title>Instruction</title>
</head>

<body>
    <div class="instruction-main">
        <h1>Assesment</h1>
        <div class="instructions">
            <h2>Instructions</h2>
            <div class="ins-content">
                <p><strong>1.Please enter correct name and email id.</strong></p>
                <p><strong>2.Assesment will be of 5 min</strong></p>
                <p><strong>3.There will be 30 seconds time limit for each question</strong></p>
                <p><strong>4.Test will automatically submit when the last question timer ends</strong></p>
                <p><strong>5.Please read the question carefully</strong></p>
            </div>
            <form action='/' method="post">

                <input type="submit" name="submit" value="Begin" title="index.html page"><br>

            </form>
            <div class="footer">
                <h5>Created by Nitish,Ankit and Rashik</h5>
            </div>
        </div>
    </div>
</body>

</html>